.vertical-carousel {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 50px; /* Ancho del carrusel */
  overflow: hidden;
}

.vertical-carousel::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%; /* Ajusta la altura según la cantidad de imágenes */
  background-repeat: repeat-y;
  animation: verticalScroll 60s linear infinite;
}

#vertical-carousel1::after {
  background-image: url('carousel1-image1.jpg'), url('carousel1-image2.jpg'), url('carousel1-image3.jpg');
  /* Ajusta las imágenes y la velocidad de desplazamiento */
  background-size: cover;
}

#vertical-carousel2::after {
  background-image: url('carousel2-image1.jpg'), url('carousel2-image2.jpg'), url('carousel2-image3.jpg');
  /* Ajusta las imágenes y la velocidad de desplazamiento */
  background-size: cover;
}

@keyframes verticalScroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

